<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CuroCura.com</title>
</head>
<style>
  .login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #ff686b;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
</style>
<body>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container login-container">
            <div class="row">
                <div class="col-md-6 l">
                  <a href="<%= baseUrl %>" id="igmTag">
                    <img
                        src="https://api.curocura.com/public/logo.png"
                        style="display:block;margin: auto; background-color: black;width: 100%"
                        alt="CuroCura.com Logo"
                      />
                  </a>
                </div>
                <div class="col-md-6 login-form-2">
                    <h3>Reset Password</h3>
                    <form>
                      <p id="errormessage" style="color: red; text-align: center;"></p>
                        <div class="form-group">
                          <label for="username">Password</label>
                            <input type="text" class="form-control" id="password" placeholder="New Password" autocomplete="off" required/>
                        </div>
                        <div class="form-group">
                          <label for="username">Confirm Password</label>
                            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" autocomplete="off" required/>
                        </div>
                        <div class="form-group">
                            <button type="button" onclick="submitresult()" class="btnSubmit">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
</body>
<script>
  function submitresult(){
    const igmTag = document.getElementById("igmTag").href;
    const url_string = window.location.href;
    const url = new URL(url_string);
    const uniqueId = url.searchParams.get("uniqueId");
    const password =  document.getElementById("password").value;
    const confirmPassword = document.getElementById("confirmPassword").value;

    if(password !== confirmPassword){
      document.getElementById("errormessage").innerHTML = "* Password And Confirm Password Not Matched"
    }else{
      const data = { password: password };
      fetch(`/api/user/resetPassword/${uniqueId}`, {
        method: 'POST',
        mode: 'cors',
        credentials: 'same-origin',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      .then(response => response.json())
      .then(data => {
        alert('Password Successfully Updated');
        window.location.replace(igmTag);
      })
      .catch((error) => {
        alert('Error');
      });
    }
  }
</script>
</html>